<!DOCTYPE html>
<html>
  <head>
    <title>Testblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <%= render 'layouts/header'%>
  <body>
  <% if notice %>
    <p><%= notice %></p>
  <% end %>

  <% if alert %>
    <p><%= alert %></p>
  <% end %>
  
  <%= yield %>

  </body>
</html>
